<!DOCTYPE html>

<head>
  <title>Team 1</title>
</head>

<header class="header">
  <div class="header-logo">Team-1</div>
</header>

<div class="layout">
  <section class="editor"></section>
  <aside class="roster">
    <ul class="roster-list"></ul>
  </aside>
</div>

<script type="template" id="user-tpl">
  <li id="<%= id %>" class="roster-item"><%= name %></li>
</script>

<script type="text/javascript">
  $(document).ready(function () {
    Team1.start({
      socketUrl: 'http://127.0.0.1:7900'
    })
  })
</script>
