<!DOCTYPE html>

<head>
  <title>Team 1</title>
</head>

<header class="header">
  <div class="header__logo">
    <b class="header__logo__name">WingPad</b>
  </div>
  <div class="header__control">
    <div class="control__theme">
      <select class="control__themelist"></select>
    </div>
    <div class="control__editor-mode">
      

      <input type="checkbox" class="js-switch js-editor-mode-switch" />

      
    </div>
  </div>
</header>

<div class="layout">
  <aside class="roster">
    <ul class="roster-list"></ul>
  </aside>
  <section class="editor">
    <textarea  id="docEditor" width="400" height="200"></textarea>
  </section>
</div>

<script type="template" id="user-tpl">
  <li id="<%= id %>" class="roster-item"><%= title %></li>
</script>
