<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Team 1</title>
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <header class="header">
      <div class="header-logo">Team-1</div>
    </header>
    <div class="layout">
      <section class="editor">

      </section>
      <aside class="roster">
        <ul class="roster-list"></ul>
      </aside>
    </div>

    <script type="template" id="user-tpl">
      <li id="<%= id %>" class="roster-item"><%= name %></li>
    </script>

    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>

    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="libs/lodash/dist/lodash.compat.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
