doctype html
html
  head
    title=title
    link(rel='stylesheet', href='build/auth.css')
  body
    //.auth
    //  if message
    //    .message
    //      .message__text #{message}
    //  .auth__header
    //    .auth__logo__name WingPad
    //  form(class='auth__form', action='/signin', method='POST')
    //    input(type='text', name='username', class='auth__form__input', placeholder='Username', required)
    //    input(type='password',name='password', class='auth__form__input', placeholder='Password', required)
    //    a(href='/')
    //    button(class='auth__form__button', type='submit') Sign in
    form(class="", action="doc/create", method="GET")
      p Create room
      input(placeholder="Room name")
      button Create
    form
      p Connect to room
      input(placeholder="Room name")
      button Connect
      p Open recent
        ul
           li: a(href="/") jquery
           li: a(href="/") backbone

