.header {
  height: 70px;
  box-sizing: border-box;
}
  .header__logo {
    display: inline-block;
    width: 300px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
  }
    .header__logo__name {
      position: relative;

      line-height: 50px; /* 70px - 10px*2 */
      font-size: 24px;
      font-family: 'Lato', 'PS Sans', sans-serif;
      color: #FFFFFF;
    }
      /* temporarily */
      .header__logo__name:after {
        content: '0.0.1';
        position: absolute;
        top: -5px;
        right: -40px;
        padding: 5px;
        font-size: 12px;
        line-height: 12px;
        background-color: #DC3023;
        color: #FFFFFF;
        border-radius: 5px;
      }
  .header__control {
    display: inline-block;
  }
    .themelist {

      }

  .header--dark {
    background-color: #293143;
  }
    .header--dark .header__logo {
      background-color: #212936;
    }
  .header--light {
    background-color: #FFFFFF;
  }
    .header--light .header__logo {
      background-color: #191E22;
    }


