%form-input {
  margin: 15px 0;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: $radius;
  outline: none;
  font-family: $font-main;
  font-size: 16px;
  -webkit-appearance: none;
  }
