$font-main: "Lato", "Helvetica Neue", Helvetica, Arial;

$color-indigo: #293143;
$color-indigo-dark: #212936;
$color-gray: #ECF0F1;
$color-gray-dark: #ABB7B7;
$color-white: #FFFFFF;
$color-red: #E34234;

$radius: 4px;
