.layout {
  margin-top: -40px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  height: 100%;
  box-sizing: border-box;
}
.editor {
  width: 70%;
  height: 100%;
  background: #333;
}
/*  cm - CodeMirror */
.cm_cursor {
  height: 13px;
  left: 10px;
}
