@import '../variables';
@import '../placeholders';

html, body {
  height: 100%;
  }

.signup {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgc-dark;
  }

  .signup__form {
    width: 500px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .signup__form__input {
      @extend %form-input;

      width: 100%;
      border: 1px solid $bgc-light;
      }

    .signup__form__button {
      @extend %form-input;

      width: 200px;
      border: 0;
      background-color: #E34234;
      color: white;
      cursor: pointer;
      }
    }
